.vmdl-layout-transparent {
  background: center / cover;
}
.vmdl-layout-transparent .mdl-layout__header,
.vmdl-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

body {
  background: black;
}